{
	admin off
	persist_config off
	auto_https disable_redirects

	log {
		format json
	}

	servers {
		trusted_proxies static private_ranges
	}
}

:{$PORT} {

	# Swagger JSON
	handle /swagger/v1/swagger.json {
		rewrite * /v1/swagger.json
		reverse_proxy {$BACKEND_DOMAIN}:{$BACKEND_PORT}
	}

	# Backend API
	handle_path /backend/* {
		reverse_proxy {$BACKEND_DOMAIN}:{$BACKEND_PORT}
	}

	# Frontend
	handle {
		reverse_proxy {$FRONTEND_DOMAIN}:{$FRONTEND_PORT}
	}
}
