# global options
{
	admin off
	persist_config off
	auto_https on

	log {
		format json
	}

	servers {
		trusted_proxies static private_ranges
	}
}

(lb_settings) {
	lb_policy round_robin
	lb_retries 5
	lb_try_duration 5s
	lb_try_interval 250ms
}

(passive_health_checks) {
	fail_duration 30s
	max_fails 5
	unhealthy_latency 5s
	unhealthy_request_count 20
}

:{$PORT} {

	log {
		format json
	}

	# BACKEND — evaluated FIRST
	handle_path {$BACKEND_PREFIX:/backend}/* {
		reverse_proxy {$BACKEND_DOMAIN}:{$BACKEND_PORT} {
			import lb_settings
			import passive_health_checks
			header_up Host {upstream_hostport}
		}
	}

	# FRONTEND — fallback
	handle {
		reverse_proxy {$FRONTEND_DOMAIN}:{$FRONTEND_PORT} {
			import lb_settings
			import passive_health_checks
			header_up Host {upstream_hostport}
		}
	}
}
